<html>
<head>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
</head>
<style>
    #app { margin: 50px 0px 0px 50px; }
    *:focus {
        outline: none;
    }
    .ticbox {
        display:block; width:45px; height:45px; margin:5px; float:left; background-color:#efefef;
        font-size:45px; line-height: 45px; text-align: center; vertical-align: middle;
    }
</style>
<body>

<div id="app" tabindex="0"
     v-on:keydown.up="movePlayer(0,-1)"
     v-on:keydown.down="movePlayer(0,1)"
     v-on:keydown.left="movePlayer(-1,0)"
     v-on:keydown.right="movePlayer(1,0)"
     v-on:keydown.space="movePlayer(0,0)"
        >
    <div v-for="(rowIdx, row) in board" style="width:600px;">
        <div v-for="(colIdx, item) in row">
            <span class="ticbox" >{{ item.val || ' ' }}</span>
        </div>
    </div>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            board: [],
            player: {
                x: 1,
                y: 1,
                char: '@'
            },
            obstacles: []
            
        },
        methods: {
            movePlayer: function(x,y){
                if(this.player.x + x >= 0 
                        && this.player.x + x < this.board[0].length 
                        && this.obstacles[this.player.x + x][this.player.y + y] != 1){ this.player.x += x; }
                
                if(this.player.y + y >= 0
                        && this.player.y + y < this.board.length
                        && this.obstacles[this.player.x + x][this.player.y + y] != 1){ this.player.y += y; }
                
                this.board = this.displayBoard();
            },
            defaultBoard: function(){
                var size = 10;
                var b = new Array(size);
                for (var i = 0; i < size; i++) {
                    b[i] = new Array(size);
                    for(var j = 0; j < size; j++){
                        b[i].$set(j, {val: null});
                    }
                }
                return b;
            },
            displayBoard: function(){
                var board = this.defaultBoard();
                board[this.player.y].$set(this.player.x, {val: this.player.char});

                // Obstacles
                for (var i = 0; i < this.obstacles.length; i++) {
                    for (var j = 0; j < this.obstacles[i].length; j++) {
                        if (this.obstacles[i][j] === 1) {
                            board[j].$set(i, {val: '0'});
                        }
                    }
                }
                return board;
            },
            initBoard: function(){
                this.board = this.defaultBoard();
                this.obstacles = this.defaultBoard();
                this.obstacles[2][7] = 1;
                this.obstacles[8][1] = 1;
            }
        }
    });
    
    vm.initBoard();
    vm.board = vm.displayBoard();
    

</script>